body {
    background: #F0F0F0;
}

/* Intestazione */
header {
    background-color: white;
    margin-bottom: 50px;
}

.image {
    padding-left: 20px;
    vertical-align: auto;
    display: inline-block;
    width: 50px;

}

.Titolo {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
    font-family: arial;
}


/* Tendina */
.contenitore {
    width: 1000px;
    margin-left: 400px;
    margin-right: 600px;
    background-color: white;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid lightgrey;
    border-radius: 5px;
}

nav {
    padding-left: 50px;
    border-bottom: 1px solid lightgrey;
}

.Task {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 70px;
    border: 1px solid lightgrey;
    background-color: #388fff;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: arial;
}

.Section {
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: lightgrey;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* New Task, check-symbol */

.separatore {
    margin-top: 50px;
}
h2 {
    padding-left: 50px;
    font-family: arial;
    margin-bottom: 5px;
}

.check {
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    width: 23px;
    color: green;
    border: 1px solid green;
    border-radius: 20px;
}

#text {
    display: inline-block;
    font-family: arial;
    margin-bottom: 5px;
}

.Editorial {
    font-size: 11px;
    font-family: arial;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    width: 65px;
    background-color: #388fff;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Today, cross-symbol, upcoming */
.ToDo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.Q1 {
    font-size: 11px;
    font-family: arial;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    width: 65px;
    background-color: #BA55D3;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.Recruiting {
    font-size: 11px;
    font-family: arial;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    width: 65px;
    background-color: #3CB371;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px
}

.cross {
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    width: 23px;
    color: rgb(107, 12, 12);
    border: 1px solid rgb(107, 12, 12);
    border-radius: 20px;
}

.Mobile {
    font-size: 11px;
    font-family: arial;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    width: 65px;
    background-color: orange;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Website {
    font-size: 11px;
    font-family: arial;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    width: 65px;
    background-color: pink;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Sales {
    font-size: 11px;
    font-family: arial;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    width: 65px;
    background-color: #808000;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.Spaces {
    margin-top: 50px;
}
